.Container{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 150px;
    top: calc(50% - 190px);
}
.Container__Data{
    position: relative;
    display: grid;
    margin: 0 auto;
    padding:30px;
    width: 75%;
    height: 100%;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    box-shadow: 1px 2px 20px #000;
    border-radius: 20px;
    background-color: white;
}
.Container__Data h3{
    margin-bottom: 10px;
    font-size: 13px;
    color: #a5a5a5;
    font-weight: 500;
}
.Container__Data p{
    font-size: 20px;
    font-weight: bold;
}
.Container__Data div{
    padding-left: 15px;
}
.Container__Data .border-right{
    border-right: 1px solid #bbbbbb;
}

@media screen and (max-width: 740px){
    .Container{
        height: auto;
        top: calc(50% - 150px);
    }
    .Container__Data{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
    }
    .Container__Data .border-right{
        border-right: none;
    }
    .Container__Data p{
        text-align: center;
    }
    .Container__Data div{
        text-align: center;
    }
}